.search {
    &-input {
        font-family: inherit;
        font-size: 1.5rem;
        color: inherit;
        background-color: #616a80;
        border: none;
        padding: 1rem 2rem;
        border-radius: 10rem;
        width: 25rem;
        transition: all 0.2s;
        margin-right: -3.5rem;

        &:focus {
            outline: none;
            width: 40rem;
            background-color: #adbada;
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: #f5f5f5;
        }
    }

    &-input:focus + &-button {
        background-color: #f5f5f5;
    }

    &-button {
        border: none;
        background-color: #f5f5f5;
        border-radius: 100%;
        vertical-align: center;
        padding: 5px;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }
    &-knowledge-button {
        &:hover {
            background: linear-gradient(
                0deg,
                #3358f4 0%,
                #1d8cf8 100%
            ) !important;
        }
    }
}
